__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.pytest_cache/
.ruff_cache/
.python-version
.venv/
.env
_ideas/*
designs/
docs/_build/
examples/excel/results_*
ffai-*.json
examples/**/_*.ipynb
examples/**/*_results.csv
examples/**/*_results.tsv
examples/**/*_results.xlsx
examples/**/*_results.ods
issues/*
